
.kasa-name-tag{
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 3px 20px;
}