.kasa-lien-content{
  display: flex;
  justify-content: space-between;
  width: 232px;

  .kasa-lien-accueil, .kasa-lien-apropos{
    color: black;
    font-size: 24px;
    text-decoration: none;
  }
}


